nav{
    width: 100px;
       justify-content: left;
    
       background-color: white;
       height: 1500px;
   }
.div1{
    height: 60px;
    width: 2010px;
    background-color:  rgba(16, 112, 175, 0.986);
}
.div2{
    position: relative;
    left: 50px;
    bottom: 50px;

}
h1{
    position: relative;
    left: 120px;
    bottom: 55px;
    color: white;
}
.div3{
    position: relative;
    left: 1550px;
    bottom: 150px;
    color: white;
}
p{
    position: relative;
    bottom: 75px;
    left: 90px;
    font-size: 2em; /* Relative to the parent element's font size */
    color: white;
}
.div4{
    position: relative;
    left: 100px;
    bottom: 100px;
}
.div5{
    position: relative;
    left: 1450px; 
    bottom: 500px;
}
.div5{
    position: relative;
    bottom: 300px;
    right: 500px;
}
    



    
    