.nav{
    background-color: white;
    height: 1500px;
    width: 100px;
    justify-content: left;
 }
 
 
 .div1{
    height: 40px;
    width: 2010px;
    background-color:  rgba(16, 112, 175, 0.986);
}



.div2{
   position: relative;
   top:30px;



    
}
.div3{
    position: relative;
    left: 1050px;
    bottom: 205px;



}


    
.centered-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

h2{
    font-size: 70px;


}
.div{
    width: 800px;
    height: 100px;
    position: relative;
    left: 200px;
}
.div2{
    position: relative;
    bottom: px;
    left: 100px;
    top: 80px;
   
}
.div3{
    font-size: 100px;
    position: relative;
    bottom:54px;
    
    
}
.div4{

    position: relative;
    width: 2000px;
    bottom: 350px;
    left:60px;
    
    


}
.radio{
    font-size: 20px;
    width:300px;
    position: relative;
    bottom: 300px;
    left:90px;
    color: rgba(16, 112, 175, 0.986);
}
.text{
    position: relative;
    bottom: 270px;
    left: 100px;
    

}
.logo{
    position: relative;
    bottom: 20px;

}
.centered-image{
   position: relative;
   top:150px;
   left:60px;
   width: 350px;
}
.div5{
    position: relative;
    left: 600px;
    top: 200px;
}
.div6{
    position: relative;
    top: 200px;
}